:root{
	--base:#FFCC99;
	--spacing : 0px;
	--blur : 0px;
}

body{
	text-align: center;
}

.controls{
	width: 90%;
	margin:0 auto;
}

.controls > *{
	display: block;
	margin:0 auto;
}

.controls > input{
	margin:0 auto 25px auto;
}

.colored{
	color:var(--base);
}

img{
	display: block;
	width: 50%;
	margin:0 auto;

	/* Here is the tricks !*/
	padding : var(--spacing);
	background-color: var(--base);
	filter: blur(var(--blur));
}